version: "3"
services:
  database:
    image: postgres
    container_name: database
    environment:
      - POSTGRES_PASSWORD=postgres
    ports:
      - 5432:5432
    restart: always
 
  backend:
    image: localhost:5000/backend
    container_name: backend
    ports:
      - 8080:8080
    environment:
      - database=database
    depends_on:
      - database
    restart: always
  