apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: app
spec:
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      initContainers:
        - name: check-postgres
          image: postgres
          env:
            - name: database
              valueFrom:
                configMapKeyRef:
                  name: database
                  key: database
          command:
            ['sh', '-c', 'until pg_isready -h $database -p 5432; do echo waiting; sleep 2; done']
      containers:
      - name: backend
        image: abhpraksa.azurecr.io/backend
        resources:
          limits:
            memory: "2048M"
            cpu: "0.75"
        ports:
        - containerPort: 8080
        livenessProbe:
          httpGet:
            path: /api/v1/status
            port: 8080
            httpHeaders:
              - name: Test
                value: Backend is online!
          initialDelaySeconds: 120
          periodSeconds: 15
          timeoutSeconds: 10
        envFrom:
          - configMapRef:
              name: database
        env:
          - name: SPRING_DATASOURCE_USERNAME
            valueFrom:
              secretKeyRef:
                name:  postgres-pass
                key: SPRING_DATASOURCE_USERNAME
          - name: SPRING_DATASOURCE_PASSWORD
            valueFrom:
              secretKeyRef:
                name: postgres-pass
                key: SPRING_DATASOURCE_PASSWORD
      imagePullSecrets:
        - name: azure
